<footer class="footer container" style="margin-left: unset">
  <div class="row align-items-start">
    <app-api-version class="col grey"></app-api-version>
    <a class="col grey text-center" routerLink="/auth">auth</a>
    <span class="col text-right">&copy; Glaucoma Australia, 2019.</span>
  </div>
  <div class="row align-items-start">
    <span class="col text-right">Development sponsored by <a style="color: black; border-bottom: 1px dotted #777;"
                                                             href="https://offscale.io">Offscale.io</a></span>
  </div>
</footer>
