<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active"
     [routerLinkActiveOptions]="{exact:true}">
    Glaucoma Risk Calculator
  </a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <form class="form-inline my-2 my-lg-0" *ngIf="authService.isLoggedIn()">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/admin/dashboard">
        Dashboard
      </a>
      <button class="a nav-item nav-link" (click)="logout()">
        Logout
      </button>
    </form>
    <form class="form-inline my-2 my-lg-0" *ngIf="!authService.isLoggedIn()">
      <a class="btn my-2 my-sm-0" routerLink="/login-signup">
        -
      </a>
    </form>
    <ul class="navbar-nav mr-auto"></ul>
    <a href="http://glaucoma.org.au"><img src="../../assets/reversed-logo.png" alt="logo"/></a>
  </div>
</nav>
