<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="line-height: 2.68">
  <a [routerLinkActiveOptions]="{exact:true}" class="navbar-brand" routerLink="/"
     routerLinkActive="active">
    Glaucoma Risk Calculator
  </a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <form *ngIf="authService.loggedIn()" class="form-inline col btn-group">
      <a class="nav-item nav-link btn btn-outline-info" routerLink="/admin/dashboard" routerLinkActive="active">
        Dashboard
      </a>
      <button (click)="logout()" class="a nav-item nav-link btn">
        Logout
      </button>
    </form>
    <ul class="navbar-nav mr-auto"></ul>
    <a href="http://glaucoma.org.au"><img alt="Glaucoma Australia logo" src="../../assets/reversed-logo.png"/></a>
  </div>

</nav>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     *ngIf="alertsService.alerts">
  <app-alerts style="width: 100%"></app-alerts>
</nav>
