<!--
<ngx-datatable class="bootstrap"
               [columnMode]="'force'"
               [rows]="data"
               [columns]="columns"
               [rowHeight]="getHeight">
</ngx-datatable>
-->
<div class="container">
  <div *ngIf="data.length" class="row" style="margin-bottom: 3px">
    <div class="col" id="stats-num">
      <fieldset>
        <legend>Calculations</legend>
        <h1 style="font-size: 10em">{{data.length}}</h1>
      </fieldset>
    </div>
    <div class="col">
      <fieldset>
        <legend>Ethnic distribution</legend>
        <ngx-charts-pie-chart [labels]="true" [results]="ethnicity_agg" [view]="view"
                              style="text-align: left"></ngx-charts-pie-chart>
      </fieldset>
    </div>
    <div class="col">
      <fieldset>
        <legend>Age distribution</legend>
        <ngx-charts-line-chart [results]="age_distr"
                               [view]="view"
                               [yAxis]="true"></ngx-charts-line-chart>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <ng-table #tableContainer (cellClicked)="onCellClick($event)"
              (tableChanged)="onChangeTable(config)"
              [columns]="columns"
              [config]="config" [rows]="data">
    </ng-table>
    <ng-container *ngIf="config.paging && page !== numPages">
      <ngb-pagination
        (numPages)="numPages = $event"
        (pageChanged)="onChangeTable(config, $event)"
        [(ngModel)]="page"
        [boundaryLinks]="true"
        [collectionSize]="length"
        [maxSize]="maxSize"
        [pageSize]="itemsPerPage"
        [rotate]="false"
        class="pagination-sm">
      </ngb-pagination>
      <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
    </ng-container>
  </div>
</div>
