<!--
<ngx-datatable class="bootstrap"
               [columnMode]="'force'"
               [rows]="data"
               [columns]="columns"
               [rowHeight]="getHeight">
</ngx-datatable>
-->
<div class="container">
  <div class="row">
    <div class="col-md">
      <fieldset>
        <legend>Calculations</legend>
        <h1 style="font-size: 250px">{{max_id}}</h1>
      </fieldset>
    </div>
    <div class="col-md">
      <fieldset>
        <legend>Ethnic distribution</legend>
        <ngx-charts-pie-chart [labels]="true" [results]="ethnicity_agg" [view]="[350,250]"
                              style="text-align: left"></ngx-charts-pie-chart>
      </fieldset>
    </div>
    <div class="col-md">
      <fieldset>
        <legend>Age distribution</legend>
        <ngx-charts-line-chart [results]="age_distr" [view]="[350,250]" [showGridLines]="true"></ngx-charts-line-chart>
      </fieldset>
    </div>
  </div>
</div>

<ng-table [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="data" [columns]="columns">
</ng-table>
<ng-container *ngIf="config.paging && page !== numPages">
  <ngb-pagination
    class="pagination-sm"
    [(ngModel)]="page"
    [collectionSize]="length"
    [pageSize]="itemsPerPage"
    [maxSize]="maxSize"
    [boundaryLinks]="true"
    [rotate]="false"
    (pageChanged)="onChangeTable(config, $event)"
    (numPages)="numPages = $event">
  </ngb-pagination>
  <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
</ng-container>
