.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}


.docs-footer {
  padding: 12px;
  font-size: 12px;
  margin-top: 40px;
  background: #ff6e40;
  color: #fff;
}

.docs-footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.docs-footer-logo {
  flex: 1;
}

.docs-footer-angular-logo {
  height: 50px;
}

.docs-footer-version {
  flex: 1;
  text-align: center;
}

.docs-footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: column;
  min-width: 225px;
  text-align: center;
}

.docs-footer-logo span {
  display: inline-block;
  line-height: 50px;
  margin: 0 40px;
  vertical-align: bottom;

  a {
    font-size: 16px;
    padding: 0;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 884px) {
  .docs-footer-list {
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  color: white;
}

footer {
  background: #ff5722;
  h1, h3, a {
    font-family: 'Nunito Sans', Arial, serif;
    line-height: 1;
    margin: 0;
  }

  a:visited, div {
    color: white;
  }

  a:link {
    color: white;
    text-decoration: none;
    font-weight: normal;
    line-height: 80px;
    font-size: 20px;
  }

  h1 {
    font-size: xx-large;
    font-weight: bolder;
  }

  h3 {
    font-weight: normal;
  }
}
