<mat-toolbar class="app-toolbar" color="primary" routerLink="/">
  <a routerLink="/">Glaucoma&nbsp;<span fxHide.xs>Risk</span>&nbsp;Calculator</a>
  <span fxFlex></span>
  <a href="https://glaucoma.org.au">
    <img alt="Glaucoma Australia" fxHide.lt-md src="../assets/ga-50px.png" style="height: 50px; width: 135px;"/>
  </a>
</mat-toolbar>

<app-survey #survey></app-survey>

<footer class="text-center" fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="center center"
        [ngStyle.lt-md]="{'padding': '0 20px'}"
        [ngStyle.gt-sm]="{'padding': '20px 0 20px 20px'}">
  <div fxFlex fxLayout="column">
    <div fxFlex>Development sponsored by</div>
    <a fxFlex href="https://sydneyscientific.org">
      <h1>Sydney Scientific Foundation</h1>
      <h3>The scalable medical diagnosis charity</h3>
    </a>
  </div>
  <div fxLayoutAlign="end" style="padding-right: 20px">
    &copy; 2018&ndash;2020
  </div>
</footer>
