<app-richtext [elementId]="'contents'" (onEdited)="onEdited($event)" #editor>
</app-richtext>

<form class="form-group" [formGroup]="form">
  <label for="email_subject">Email subject</label>
  <input placeholder="Email subject" id="email_subject" name="email_subject" formControlName="email_subject"
         class="form-control" required/>

  <label for="twitter">Twitter</label>
  <textarea class="form-control" [ngClass]="{'red-border': !validTwitterLength()}"
            placeholder="Twitter" id="twitter" formControlName="twitter" required>
  </textarea>
  <small class="form-text text-muted">
    <code [ngClass]="{'text-muted': validTwitterLength()}">{{form.value.twitter.length}}</code> characters
  </small>

  <label for="facebook">Facebook</label>
  <textarea class="form-control" placeholder="Facebook" id="facebook" formControlName="facebook" required></textarea>
  <small class="form-text text-muted">
    <code class="text-muted">{{form.value.facebook.length}}</code> characters
  </small>

  <button type="submit" class="btn btn-info btn-lg" style="margin-top: 1em"
          (click)="save()" [disabled]="!validTwitterLength() || !form.valid">
    Save
  </button>
</form>
