<form class="form-signin-up" #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" name="email" id="inputEmail" placeholder="Email address"
         class="form-control" required autofocus ngModel>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" placeholder="Password"
         class="form-control" required ngModel>
  <div class="checkbox">
    <input id="remember" type="checkbox" value="remember-me">
    <label for="remember">Remember me</label>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in/up</button>
  <pre>{{formRef.value | json}}
{{formRef.valid | json}}
</pre>
</form>
