<div class="container">
  <div class="row">
    <a type="button" class="col btn btn-lg btn-warning" (click)="login()" *ngIf="!loggedIn()">
      Authenticate with Office 365
    </a>

    <button class="col btn btn-sm btn-outline-danger"
            (click)="logout()" *ngIf="loggedIn()">
      Office 365 logout
    </button>
    <button type="button" class="col-sm-2 btn btn-sm" (click)="toggleCollapse()">Advanced</button>
  </div>
</div>

<form *ngIf="loggedIn() && email_form" (ngSubmit)="sendTestEmail()" [formGroup]="email_form">
  <div class="form-group">
    <label for="test_recipient">Recipient</label>
    <input type="email" id="test_recipient" name="test_recipient" formControlName="test_recipient"
           aria-describedby="emailHelp" placeholder="Enter email address">
    <small id="emailHelp" class="form-text text-muted">Address to send email</small>
  </div>

  <div class="form-group">
    <label for="test_subject">Subject</label>
    <input type="text" id="test_subject" name="test_subject" formControlName="test_subject"
           aria-describedby="subjectHelp" placeholder="Enter subject">
    <small id="subjectHelp" class="form-text text-muted">Subject of email</small>
  </div>

  <button class="btn btn-lg btn-primary" type="submit">Send test email</button>
</form>

<hr *ngIf="!isCollapsed">

<div [collapse]="isCollapsed" class="card card-block card-header">
  <div class="well well-lg">
    More info:
    <a href="https://graph.microsoft.io/en-us/docs/authorization/app_authorization" target="_blank">
      Microsoft Graph app authorisation
    </a>
    <form (ngSubmit)="updateAuth()" [formGroup]="advanced_form" *ngIf="advanced_form">
      <div class="form-group">
        <label for="client_id">Client ID</label>
        <input type="text" class="form-control"
               id="client_id" name="client_id" formControlName="client_id"
               placeholder="Enter client_id">
      </div>

      <div class="form-group">
        <label for="client_secret">Client Secret</label>
        <input type="text" class="form-control"
               id="client_secret" name="client_secret" formControlName="client_secret"
               placeholder="Enter client_secret">
      </div>

      <div class="form-group">
        <label for="tenant_id">Tenant ID</label>
        <input type="text" class="form-control"
               id="tenant_id" name="tenant_id" formControlName="tenant_id"
               placeholder="Enter tenant_id">
      </div>

      <button class="btn btn-outline-warning" type="submit">Update auth</button>
    </form>
  </div>
</div>

