<div *ngIf="submitted">
  <div style="width: 100%; max-width: 30em; max-height: 30em;">
    <ng-gauge-chart *ngIf="gauge"
                    [animationSecs]=progressGraph.animationSecs
                    [bgColor]=progressGraph.bgColor
                    [bgRadius]=progressGraph.bgRadius
                    [labels]=progressGraph.labels
                    [reverse]=progressGraph.reverse
                    [rounded]=progressGraph.rounded
                    [segments]=progressGraph.segments>
    </ng-gauge-chart>
  </div>
  <h3 style="text-underline: single">
    {{recommendation}}
  </h3>
  <h5 style="text-underline: single; font-style: italic;">
    ({{recommendation_subtitle | lowercase}})
  </h5>

  <div class="card">
    <div class="card-block">
      <h2>Glaucoma prevalence in your population is: {{riskQuiz.risk}}%.</h2>

      <small>Population = age, gender and ethnicity</small>

      <h3>This puts you in the
        <strong>{{most_at_risk}}</strong> most at risk subgroup.
      </h3>
    </div>
    <div *ngIf="riskQuiz.multiplicative_risks && (riskQuiz.multiplicative_risks.family_history > 1 || riskQuiz.multiplicative_risks.diabetes > 1 || riskQuiz.multiplicative_risks.myopia > 1)" class="container">
      <div class="row">
        These health factors increase your risk by:
      </div>
      <div class="row">
        <div *ngIf="riskQuiz.multiplicative_risks.family_history > 1" class="col-sm">
          <h3>{{riskQuiz.multiplicative_risks.family_history * 100}}%</h3>
          Family history
        </div>
        <div *ngIf="riskQuiz.multiplicative_risks.diabetes > 1" class="col-sm">
          <h3>{{riskQuiz.multiplicative_risks.diabetes * 100}}%</h3>
          Diabetes
        </div>
        <div *ngIf="riskQuiz.multiplicative_risks.myopia > 1" class="col-sm">
          <h3>{{riskQuiz.multiplicative_risks.myopia * 100}}%</h3>
          Myopia
        </div>
      </div>
    </div>
  </div>

  <h6>Based off submission:</h6>

  <table class="table table-responsive table-striped">
    <thead>
    <tr>
      <th *ngFor="let col of submissionHeader">
        {{ col }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td *ngFor="let col of submissionHeader">
        {{ submissionRow[col] }}
      </td>
    </tr>
    </tbody>
  </table>

  <br>
  <button (click)="redo()" class="btn btn-default">Redo</button>
  <br>
  <hr>
  <h5>Share with family and friends to calculate their own risk</h5>
  <div aria-label="Share" class="btn-toolbar" role="toolbar">
    <div aria-label="email" class="btn-group mr-2" role="group">
      <button (click)="openModal(sendEmailTemplate)" class="btn btn-lg btn-warning">Share as email</button>
      <ng-template #sendEmailTemplate>
        <div class="modal-body text-center">
          <form class="container form-group">
            <div class="row">
              <div class="col-2">
                <label class="col-form-label" for="email">
                  To:
                </label>
              </div>
              <div class="col-auto">
                <input #toEmail class="form-check-input" id="email" placeholder="Email">
              </div>
            </div>

            <div [innerHtml]="templateService.getTpl('email') + ' ' + share_url" class="row"></div>
            <button (click)="sendEmail(toEmail.value)" [disabled]="!toEmail.value.length"
                    [ngClass]="{'btn-outline-success': toEmail.value.length}"
                    class="btn" type="submit">
              Send email
            </button>
          </form>
        </div>
      </ng-template>
    </div>
    <div aria-label="facebook" class="btn-group mr-2" role="group">
      <a [href]="'https://www.facebook.com/sharer/sharer.php?u='+share_url+'&quote='+templateService.getTpl('facebook')"
         class="btn btn-lg btn-primary"
         target="_blank">
        Share on facebook
      </a>
    </div>
    <div aria-label="twitter" class="btn-group mr-2" role="group">
      <a #tweet [href]="'https://twitter.com/intent/tweet?text='+templateService.getTpl('twitter')+' '+share_url"
         class="btn btn-lg btn-info" data-size="large"
         id="tweet"
         target="_blank">
        Tweet
      </a>
    </div>
    <div aria-label="copy-link" class="btn-group" role="group">
      <button (cbOnSuccess)="isCopied = true" [cbContent]="share_url" [class.btn-success]="isCopied"
              class="btn btn-lg btn-outline" ngxClipboard>
        Copy link
      </button>
    </div>
  </div>
  <hr>
  <button (click)="toggleCollapse()" [class.btn-outline-secondary]="!isCollapsed" class="btn btn-secondary">
    Review references and submission
  </button>
  <div *ngIf="!isCollapsed" [ngbCollapse]="isCollapsed" class="card card-block card-header">
    <div class="well well-lg">
      <h6>Your submission</h6>

      <div class="row">
        <div class="col-xs-3"><em>Age</em></div>
        <div class="col-xs-9  pull-left"><strong>&nbsp;{{ riskQuiz.riskQuiz.age }}</strong></div>
      </div>
      <div class="row">
        <div class="col-xs-3"><em>Gender</em></div>
        <div class="col-xs-9 pull-left"><strong>&nbsp;{{ riskQuiz.riskQuiz.gender }}</strong></div>
      </div>
      <div class="row">
        <div class="col-xs-3"><em>Ethnicity</em></div>
        <div class="col-xs-9 pull-left"><strong>&nbsp;{{ riskQuiz.riskQuiz.ethnicity }}</strong></div>
      </div>
      <div class="row">
        <div class="col-xs-3"><em>Sibling with glaucoma</em></div>
        <div class="col-xs-9 pull-left"><strong>&nbsp;{{ riskQuiz.riskQuiz.sibling || 'false' }}</strong></div>
      </div>
      <div class="row" style="margin-bottom: 5px">
        <div class="col-xs-3"><em>Parent with glaucoma</em></div>
        <div class="col-xs-9 pull-left"><strong>&nbsp;{{ riskQuiz.riskQuiz.parent || 'false' }}</strong></div>
      </div>

      <!--<app-risk-pointer [risk_value]="riskQuiz.client_risk"></app-risk-pointer>-->

      <ngx-charts-pie-grid (select)="onPieGridSelect($event)"
                           *ngIf="pie_grid"
                           [results]="pieData"
                           [scheme]="colorScheme"
                           [view]="pieView"
                           autoScale="true">
      </ngx-charts-pie-grid>

      <hr>

      <!--
      (legendLabelClick)="onLegendLabelClick($event)"
      [scheme]="colorScheme"
      [gradient]="gradient"
      (select)="treemapSelect($event)"-->
      <h4>Risk compared with other ethnicities of same age and gender</h4>
      <div *ngIf="show_treemap" class="row">
        <p>Hover over each box to view the comparative risk score.</p>
        <ngx-charts-tree-map [labelFormatting]="labelFormat"
                             [results]="riskQuiz.relative_risks.graphed_rr">
        </ngx-charts-tree-map>

        <table class="table table-responsive table-striped">
          <thead>
          <tr>
            <th>Study</th>
            <th>Prevalence</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let leg of treemap_legend" [style.background-color]="leg.color">
            <td>
              {{leg.name}}
            </td>
            <td>
              {{leg.value}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <!--
      <div class="row">
        <pre>multiplicative_risks = {{riskQuiz.multiplicative_risks|json}}</pre>
      </div>
      <div class="row">
        <pre>relative_risks = {{riskQuiz.relative_risks|json}}</pre>
      </div>
      -->

      <!--
      <h4>Other charts</h4>

      <div class="container-fluid">
        <div class="row justify-content-md-center">
          <div class="col" *ngIf="show_pie_adv">
            <ngx-charts-advanced-pie-chart [view]="pieAdvDim"
                                           [scheme]="pieAdvColorScheme"
                                           [results]="pieAdvData"
                                           [gradient]="pieAdvGradient"

                                           (select)="pieAdvOnSelect($event)">
            </ngx-charts-advanced-pie-chart>
            <!-- [total-label]="pieAdvLabel" -->
      <!--
          </div>
        </div>
      </div>
      -->

      <h4>Notes</h4>
      <ul *ngFor="let note of notes">
        <li>{{note}}</li>
      </ul>
      <ul>
        <li [innerHTML]="html_of_last_note"></li>
      </ul>

      <h4>References</h4>
      <div [innerHTML]="html_of_all_refs"></div>
    </div>
  </div>
</div>
