<div class="container">
  <div *ngIf="submitted">
    <h2>Risk calculation</h2>
    <h3>Risk is {{riskQuiz.risk}}; meaning you're in the <strong>{{most_at_risk}}</strong> most at risk category <span
      *ngIf="riskQuiz.sibling || riskQuiz.parent">. Adding in <strong>family risk</strong>, and you're:</span></h3>

    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col">
          <ng-gauge *ngIf="gauge"
                    [bgRadius]=progressGraph.bgRadius
                    [bgColor]=progressGraph.bgColor
                    [rounded]=progressGraph.rounded
                    [reverse]=progressGraph.reverse
                    [animationSecs]=progressGraph.animationSecs
                    [labels]=progressGraph.labels
                    [segments]=progressGraph.segments>
          </ng-gauge>
        </div>
        <div class="col">
          <ngx-charts-advanced-pie-chart *ngIf="pie_adv"
                                         [view]="pieAdvDim"
                                         [scheme]="pieAdvColorScheme"
                                         [results]="pieAdvData"
                                         [gradient]="pieAdvGradient"
                                         [total-label]="pieAdvLabel"
                                         (select)="pieAdvOnSelect($event)">
          </ngx-charts-advanced-pie-chart>
        </div>
      </div>
    </div>
    <ngx-charts-pie-grid *ngIf="pie_grid"
                         [view]="pieView"
                         [scheme]="colorScheme"
                         [results]="pieData"
                         autoScale="true"
                         (select)="onPieGridSelect($event)">
    </ngx-charts-pie-grid>


    <div class="row">
      <pre>multiplicative_risks = {{riskQuiz.multiplicative_risks|json}}</pre>
    </div>

    <h3>{{recommendation}}</h3>

    <br>
    <button class="btn btn-default" (click)="redo()">Redo</button>
    <br>
    <hr>
    <h5>Get your friends screened</h5>
    <div class="btn-toolbar" role="toolbar" aria-label="Share">
      <div class="btn-group mr-2" role="group" aria-label="email">
        <button class="btn btn-lg btn-warning">Share as email</button>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="facebook">
        <a class="btn btn-lg btn-primary" [href]="'https://www.facebook.com/sharer/sharer.php?u='+share_url"
           target="_blank">
          Share on facebook
        </a>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="twitter">
        <a target="_blank" class="btn btn-lg btn-info"
           [href]="'https://twitter.com/intent/tweet?text='+'Be Glaucoma aware, take the quiz. Here\'s what I got: '+share_url"
           data-size="large">
          Tweet
        </a>
      </div>
      <div class="btn-group" role="group" aria-label="copy-link">
        <button class="btn btn-lg btn-outline" [class.btn-success]="isCopied" ngxClipboard
                [cbContent]="share_url" (cbOnSuccess)="isCopied = true">
          Copy link
        </button>
      </div>
    </div>
    <hr>
    <button class="btn btn-outline-secondary" (click)="toggleCollapse()">
      Review references and submission
    </button>
    <div [collapse]="isCollapsed" class="card card-block card-header" *ngIf="!isCollapsed">
      <div class="well well-lg">
        <h6>Your submission</h6>
        <div class="row">
          <div class="col-xs-3">Age</div>
          <div class="col-xs-9  pull-left">&nbsp;{{ riskQuiz.age }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Gender</div>
          <div class="col-xs-9 pull-left">&nbsp;{{ riskQuiz.gender }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Ethnicity</div>
          <div class="col-xs-9 pull-left">&nbsp;{{ riskQuiz.ethnicity }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Sibling with glaucoma</div>
          <div class="col-xs-9 pull-left">&nbsp;{{ riskQuiz.sibling }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Parent with glaucoma</div>
          <div class="col-xs-9 pull-left">&nbsp;{{ riskQuiz.parent }}</div>
        </div>
        <div class="row">
          <pre>{{riskQuiz|json}}</pre>
        </div>
        <h5>
          <small>References</small>
        </h5>
        <ol>
          <li *ngFor="let ref of riskQuiz.ref">
            {{ref.author|json}}, "{{ref.title}}" in <em>{{ref.journal|json}}</em>{{parseRef(ref)}}
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
