<div class="container">
  <div [hidden]="submitted">
    <form [formGroup]="riskForm" *ngIf="active" (ngSubmit)="onSubmit()">
      <fieldset class="form-group" id="gender" name="gender">
        <h6>Gender</h6>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="gender" id="male" value="male" formControlName="gender">
            Male
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="gender" id="female" value="female"
                   formControlName="gender">
            Female
          </label>
        </div>
        <div *ngIf="formErrors.gender" class="alert alert-danger">
          {{ formErrors.gender }}
        </div>
      </fieldset>

      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" id="age" class="form-control"
               formControlName="age" placeholder="Specify age">
      </div>

      <div class="form-group">
        <label for="ethnicity">Ethnicity</label>
        <!--
        <input placeholder="Specify your closest ethnicity"
               [typeahead]="ethnicities"
               class="form-control" formControlName="ethnicity" id="ethnicity">
        -->
        <ng-select [items]="ethnicities"
                   (selected)="selected_ethnicity($event)"
                   (data)="selected_ethnicity($event)"
                   id="ethnicity" formControlName="ethnicity"
                   placeholder="Search for ethnicity">
        </ng-select>
      </div>

      <div class="form-check">
        <p class="form-text" style="margin-bottom: 2px">
          Family history of glaucoma
        </p>
        <label class="form-check-label">
          <input class="form-control form-check-input" type="checkbox" id="sibling" formControlName="sibling">
          Sibling
        </label>
        <label class="form-check-label">
          <input class="form-control form-check-input" type="checkbox" id="parent" formControlName="parent">
          Parent
        </label>
      </div>

      <div class="form-check">
        <p class="form-text" style="margin-bottom: 2px">
          Other health issues
        </p>
        <label class="form-check-label">
          <input class="form-control form-check-input" type="checkbox" id="myopia" formControlName="myopia">
          Myopia
        </label>
        <label class="form-check-label">
          <input class="form-control form-check-input" type="checkbox" id="diabetes" formControlName="diabetes">
          Diabetes
        </label>
      </div>

      <button type="submit" class="btn "
              [class.btn-primary]="riskForm.valid"
              [class.btn-outline-secondary]="!riskForm.valid"
              [disabled]="!riskForm.valid">
        Calculate risk
      </button>
    </form>
  </div>
</div>

<app-risk-quiz-form-submitted [riskQuiz]="riskQuiz" [(submitted)]="submitted" *ngIf="submitted">
</app-risk-quiz-form-submitted>
