<div [hidden]="submitted">
  <h5>Complete the following to calculate your risk of developing glaucoma, and what to do about it.</h5>

  <form [formGroup]="riskForm" *ngIf="active" (ngSubmit)="onSubmit()">
    <span class="form-check-label" style="padding-left: 0">Gender</span>
    <fieldset class="form-group" id="gender" name="gender">
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="gender" id="male" value="male"
                 formControlName="gender">
          Male
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="gender" id="female" value="female"
                 formControlName="gender">
          Female
        </label>
      </div>
      <div *ngIf="formErrors.gender" class="alert alert-danger">
        {{ formErrors.gender }}
      </div>
    </fieldset>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" id="age" class="form-control"
             formControlName="age" placeholder="Specify age">
    </div>

    <div class="form-group">
      <label for="ethnicity">Ethnicity</label>
      <!--
      <input placeholder="Specify your closest ethnicity"
             [typeahead]="ethnicities"
             class="form-control" formControlName="ethnicity" id="ethnicity">
      -->
      <ng-select [items]="ethnicities"
                 (selected)="selected_ethnicity($event)"
                 (data)="selected_ethnicity($event)"
                 id="ethnicity" formControlName="ethnicity"
                 placeholder="Search for ethnicity">
      </ng-select>
    </div>

    <div class="form-check form-check-inline">
      <p class="form-text" style="margin-bottom: 2px">
        Family history of glaucoma
      </p>
      <label class="form-check-label">
        Sibling
        <input class="form-control form-check-input" type="checkbox" id="sibling" formControlName="sibling">
      </label>
      <label class="form-check-label">
        Parent
        <input class="form-control form-check-input" type="checkbox" id="parent" formControlName="parent">
      </label>
    </div>

    <div class="form-check form-check-inline">
      <p class="form-text" style="margin-bottom: 2px">
        Other health issues
      </p>
      <label class="form-check-label">
        Myopia
        <input class="form-control form-check-input" type="checkbox" id="myopia" formControlName="myopia">
      </label>
      <label class="form-check-label">
        Diabetes
        <input class="form-control form-check-input" type="checkbox" id="diabetes" formControlName="diabetes">
      </label>
    </div>

    <button type="submit" class="btn "
            [class.btn-primary]="riskForm.valid"
            [class.btn-outline-secondary]="!riskForm.valid"
            [disabled]="!riskForm.valid">
      Calculate risk
    </button>
  </form>
</div>

<app-risk-quiz-form-submitted [riskQuiz]="riskQuiz" [(submitted)]="submitted" *ngIf="submitted">
</app-risk-quiz-form-submitted>
