<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Administrator interface</h1>
    <p>Herein you can edit email templates, and modify email API details.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a class="btn btn-block btn-outline-primary" routerLink="/admin/email" routerLinkActive="active">
        <i class="icon-mail"></i> Manage email
      </a>
      <p>Edit email template, modify authentication details</p>
    </div>
    <div class="col-md-6">
      <button class="btn btn-block btn-outline-danger" routerLink="/admin/users" routerLinkActive="active">
        <i class="icon-users"></i>Users</button>
      <p>View/search users</p>
    </div>
  </div>
</div>
